{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}

    {# --------------- section hero --------------- #}

    <section class="hero ">
        <div class="container text-tertiary w-50 h-100 d-flex flex-column justify-content-center align-items-end">
            {# Hero section with a welcoming message #}
            <h1 class="fw-bold transparent-bg ">Bienvenue au garage Parrot : votre spécialiste de l'automobile !</h1>
            <p class="transparent-bg fs-5">Votre partenaire de confiance pour tous vos besoins automobiles depuis 15 ans. Nous sommes passionnés par les voitures et dévoués à offrir des services de qualité supérieure. Notre équipe de techniciens expérimentés est là pour vous.</p>
        </div>
    </section>

    {# --------------- section service --------------- #}

    <section class="service pt-5 bg-tertiary text-secondary">
        <div class="container d-flex flex-column justify-content-center align-items-center pb-5">
            <h2 class="fw-bold mt-5"> Les services proposés</h2>
            <p class="mt-3 w-75">Pour une conduite en toute sécurité, il est essentiel de planifier régulièrement l'entretien de votre véhicule. Au garage V PARROT, nous vous offrons des forfaits compétitifs pour assurer le bon fonctionnement de votre auto grâce à des révisions périodiques.</p>
            <div class = "row d-flex justify-content-around mt-4">

                {# Iterates through a list of services and displays information about each service #}

                {% for service in services %}
                    <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
                        <div class="service__card ">
                            <div class="service__card__inner">
                                <div class="card service__card__front">
                                    <img src="/uploads/{{ service.pictureFile.getPath() }}" class="card-img bg-image" alt="...">
                                    <div class=" card-img-overlay text-primary fw-bold d-flex flex-column justify-content-around align-items-center">
                                        <h3 class="fw-bolder">{{ service.title | upper}}</h3>
                                        <p>A partir de {{ service.price | default('sur devis') }} €</p>
                                    </div>
                                </div>
                                <div class="card service__card__end bg-secondary p-3">
                                    <p class="text-tertiary">{{ service.description }}</p>
                                    <a href="#" class="btn btn-outline-primary">Demande d'information</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="#" class="btn btn-outline-primary d-block mt-5">Demande d'information</a>
        </div>

    </section>

    {# --------------- section ads --------------- #}

    <section class="ads pt-5">
        <div class="container d-flex flex-column justify-content-center align-items-center text-tertiary">
            <h2 class="fw-bold mt-5"> Les dernières annonces</h2>
            <p class="mt-3 w-75">Ne manquez pas nos dernières offres exceptionnelles sur les véhicules d'occasion ! Venez dès maintenant dans notre garage et profitez des meilleures opportunités pour trouver votre prochaine voiture.</p>

            <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
                {% include 'pages/ads/partials/_ads_cards.html.twig' %}
            </div>
            <a href="{{ path('ads') }}" class="btn btn-outline-tertiary my-5"> Voir toutes les annonces</a>
        </div>

    </section>
    <section class="testimonial bg-tertiary text-secondary pt-5">
        <div class="container d-flex flex-column justify-content-center align-items-center">

            <h2 class="fw-bold mt-5">Les avis des clients</h2>
            <p class="mt-5 w-75">Pour obtenir une réponse à cette question, qui suscite souvent l'interrogation chez de nombreux d'entre nous, quoi de plus pertinent que de consulter les évaluations et les avis laissés par les clients précédents ?</p>

            <div class="row">
                {% include 'pages/testimonials/partials/_testimonials_cards.html.twig' %}
            </div>


            <a href="{{ path('testimonials') }}" class="btn btn-outline-secondary my-5"> Voir tous les témoignages</a>



        </div>
    </section>
{% endblock %}
