
{{ form_start(form, {'attr': {'class':'filters js-filter-form bg-secondary bg-opacity-50 rounded-4 text-tertiary p-5'} }) }}
    <div class="row">
        <div class="col-12">
            {{ form_row(form.quickSearch) }}
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            {{ form_row(form.brands, {'attr': {'class':'input-group d-flex justify-content-between text-light'} })  }}
        </div>
        
        <div class="col-md-4">
            {{ form_row(form.gearboxes, {'attr': {'class':'input-group d-flex justify-content-between'} })  }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.fuels, {'attr': {'class':'input-group d-flex justify-content-between'} })  }}
        </div>
    </div>
    
    <div class="row">
        <h4 class="fw-bold">Prix</h4>
        <div class="col-md-6">
            {{ form_row(form.min) }} 
        </div>
        <div class="col-md-6">
            {{ form_row(form.max) }} 
        </div>
    </div>

    <div class="row">
        <h4 class="fw-bold">Nombre de kilomètres</h4>
        <div class="col-md-6">
            {{ form_row(form.minKm) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.maxKm) }}
        </div>
    </div>

    <button class ="btn btn-primary" type="submit"> Rechercher</button>

{{ form_end(form) }}

