<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bienvenue</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400&family=Rajdhani:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        {% apply inline_css(source('@email_css/style.css')) %}
            <h1>Demande de contact concernant le véhicule</h1>
            <p>Merci de contacter le client : </p>
            <ul>
                <li>Nom du client : {{ lastname }}</li>
                <li>Prénom du client : {{ firstname }}</li>
                <li>Email: {{ customerEmail }}</li>
                <li>Téléphone: {{ phoneNumber }} </li>
                <li>Commentaire: {{ comment }}</li>
            </ul>
            <p>Bonne journée ;)</p>
        {% endapply %}
    </body>
</html>