{% extends 'base_db.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
<div class="container-fluid d-flex flex-column align-items-center justify-content-evenly text-primary">
    <h1 class="text-light fw-bold">Liste des annonces</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table table-primary table-hover table-responsive-md">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Immatriculation</th>
                <th>Date de construction</th>
                <th>Nb de km</th>
                <th>Prix</th>
                <th>Date de création</th>
                <th>Date de Modification</th>
                <th>Description</th>
                <th>Photos</th>
                <th><a class="btn btn-success" href="{{ path('ads_new') }}"><i class="bi bi-plus-square"></i> Ajouter une annonce</a></th>
            </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            <tr>
                <td>{{ ad.title | capitalize}}</td>
                <td>{{ ad.registrationNb | upper }}</td>
                <td>{{ ad.built }}</td>
                <td>{{ ad.kilometers }}</td>
                <td>{{ ad.price }}</td>
                <td>{{ ad.createAt ? ad.createAt|date('d-m-Y') }}</td>
                <td>{{ ad.updateAt ? ad.updateAt|date('d-m-Y') : '' }}</td>
                <td>{{ ad.description }}</td>
                <td>{% for picture in ad.pictures %}
                        <img class="img_mini" src="/uploads/{{ picture.path }}">
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('ads_show', {'id': ad.id}) }}"><i class="bi bi-eye"></i> Voir</a>
                    <a class="btn btn-primary" href="{{ path('ads_edit', {'id': ad.id}) }}"><i class="bi bi-pencil-square"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement n'a été trouvé !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(ads) }}
    </div>

</div>
{% endblock %}
